.marketplace_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d2e823;
    color: #1e2330;
}

.marketplace_container h1 {
    font-size: 160px;
    font-weight: 900;
}