.pricing_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e2330;
    color: #ffffff;
}

.pricing_container h1 {
    font-size: 160px;
    font-weight: 900;
}