.templates_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9c0e9;
    color: #502274;
}

.templates_container h1 {
    font-size: 160px;
    font-weight: 900;
}